html, body, #resume, #resume > .row {
    font-family: 'Open Sans', serif;
    color: #868e96;
}

#header {
    margin-top: 4em;
}

#name {
    /* height: 2em; */
    /* width: 186px; */
    color: #FFEFEF;
    font-family: Roboto;
    font-size: 36px;
    /* font-weight: 300; */
    /* line-height: 42px; */
    /* text-align: center; */
    /*margin-left: 50px;*/
}

#position {
    /* height: 24px; */
    /* width: 172px; */
    color: #B5BBC2;
    font-family: Roboto;
    font-size: 20px;
    /* font-weight: 300; */
    /* line-height: 24px; */
    /* text-align: center; */
    /*margin-left: 50px;*/
    margin-bottom: .2em;
}

.misc {
    color: #B5BBC2;
    font-family: Roboto;
    font-size: 16px;
    /* line-height: 16px; */
    /*margin-left: 50px;*/
}

#intro {
    /* height: 300px; */
    /* width: 236px; */
    color: #FFEFEF;
    font-family: Roboto;
    font-size: 16px;
    font-style: italic;
    /* font-weight: 300; */
    /* line-height: 20px; */
    /*margin-left: 50px;*/
    margin-top: 1em;
}

.left {
    background-color: #4F5B6A;
    padding-left: 2em !important;
}

.middle {
    background-color: #EDEEEF;
    padding: 0 !important;

}

.reset-color{
    background-color:white
}

.right{

}
.highlights {
    /* height: 19px; */
    /* width: 116px; */
    color: #CDD4DE;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    /*margin-left: 50px;*/
    margin-top: 2em;
}

.list-bullets {
    height: 121px;
    width: 224px;
    color: #B5BBC2;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
}
.heading{font-weight:bold;}

#experiences{
    height:55%;

}

.company {
    height: 18%;
    /*padding-left:2em;*/
    display:table;
}

.company > div{
    display:table-cell;
    vertical-align:middle;
}

#experience-heading{
    height: 10%;
    color: #4F5B6A;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    display: table;
    background-color: #DFE3E8;
    width:100%;
    padding-left:1.7em;

}
#social {
    height: 100%;
    background-color: white;
}

    #experience-heading > div {
        display: table-cell;
        vertical-align: middle;

    }



.date-range {
    color: #4F5B6A;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    font-style:italic;
}

.company-name {
   
    color: #1A222D;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}

.designation {
    color: #1A222D;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
}
#experience-heading, .company {
    border: 1px solid #FFFFFF;
}

#technical-skills{
    height:45%;;
    padding-left:2em;
}
  #technical-skills >div{
      height:100%;
      display:table;
  }
        #technical-skills > div > div {
            color: #4F5B6A;
            font-family: Roboto;
            font-size: 16px;
            font-weight: bold;
           display:table-cell;
           vertical-align:middle;
        }

.skill-area {
    color: #4F5B6A;
    font-family: Roboto;
    font-size: 14px;
    font-weight:100;
}




.experience{

    height:18%;
}
.pointer{
    margin-right:0 !important;
}
    .pointer:after {
        content: '';
        display: block;
        position: relative;
        left: 100%;
        top: calc(50% - 30px);
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid orange;
    }

.bullet {
    width: 1em;
    height: 1em;
    background-color: #77818D;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    
}

.bullet-alignment {
    margin-left: -.5em;
    top: calc(50% - .5em)
}

.experience-details {
    top: calc(50% - 25px);
    height:100%;
}





    .right-arrow:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 20%;
        width: 0;
        height: 0;
        border-top: 2em solid transparent;
        border-right: 2em solid transparent;
        border-bottom: 2em solid transparent;
        border-left: 2em solid #EDEEEF;
    }

.right-exp-date-range {
    color: #1A222D;
    font-family: Roboto;
    font-size: 14px;
}

.right-exp-designation {
    color: #1A222D;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;

}

.right-exp-company-name {
    line-height: .5em;
    color: #1A222D;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
}

.right-exp-country {
    color: #1A222D;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.right-exp-sub-heading, .right-exp-designation {
    padding-top: .8em;
}

.right-exp-sub-heading {
    color: #1A222D;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}

.right-exp-sub-details {
    color: #1A222D;
    font-family: Roboto;
    font-size: 14px;
}
}


